<?xml version="1.0"?>
<!--视觉巡线-->
<launch>
    <arg name="color"  default="white"/>
    <arg name="start"  default="true"/>

    <!--颜色识别节点-->
    <include file="$(find ainex_example)/scripts/color_detection/color_detection_node.launch"/>

    <include file="$(find ainex_bringup)/launch/base.launch"/>

    <!--跌倒起立-->  
    <include file="$(find hurocup2025)/scripts/marathon/fall_rise_node.launch"/>

    <!--视觉巡线-->
    <node pkg="hurocup2025" type="marathon_node.py" name="marathon" output="screen">
        <param name="start"  value="$(arg start)"/>
        <param name="color"  value="$(arg color)"/>
    </node>
</launch>
