<?xml version="1.0"?>
<launch>
    <node name="joystick" pkg="joy" type="joy_node" output="screen">
        <param name="dev" type="string" value="/dev/input/js0"/>
        <param name="autorepeat_rate"   type="double" value="20.0"/>
        <param name="coalesce_interval" type="double" value="0.05"/>
    </node>

    <node name="joystick_control" pkg="ainex_peripherals" type="joystick_control.py" output="screen"/>
</launch>
