SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="090c", ATTRS{idProduct}=="b371", MODE:="0666", SYMLINK+="usb_cam"
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="32e6", ATTRS{idProduct}=="9005", MODE:="0666", SYMLINK+="usb_cam"
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="32e6", ATTRS{idProduct}=="9251", MODE:="0666", SYMLINK+="usb_cam"
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="32e6", ATTRS{idProduct}=="9221", MODE:="0666", SYMLINK+="usb_cam"

