<?xml version="1.0"?>
<!--颜色分拣-->
<launch>
    <arg name="start"  default="true"/>

    <!--颜色识别节点-->
    <include file="$(find ainex_example)/scripts/color_detection/color_detection_node.launch">
        <arg name="enable_roi"  default="true"/>
    </include>

    <include file="$(find ainex_bringup)/launch/base.launch"/>

    <!--颜色分拣-->
    <node pkg="ainex_example" type="color_sort_node.py" name="color_sort" output="screen">
        <param name="start"  value="$(arg start)"/>
    </node>
</launch>
