<?xml version="1.0"?>
<!--上阶梯(up steps)-->
<launch>
    <arg name="start"   default="true"/>

    <!--颜色识别节点(color recognition node)-->
    <include file="$(find ainex_example)/scripts/color_detection/color_detection_node.launch"/>

    <include file="$(find ainex_bringup)/launch/base.launch"/>

    <!--上阶梯(up steps)-->
    <node pkg="ainex_example" type="climb_stairs_with_visual_patrol_node.py" name="climb_stairs" output="screen">
        <param name="start"  value="$(arg start)"/>
    </node>
</launch>
