<?xml version="1.0" ?>
<launch>
    <!--<arg name="walking_command"    default="walking/command"/>-->
    <!--<arg name="walking_set_param"  default="walking/set_param"/>-->
    <!--<arg name="walking_get_param"  default="walking/get_param"/>-->
    <!--<arg name="walking_is_walking" default="walking/is_walking"/>-->
    <arg name="gazebo_sim" default="false"/>
    <include file="$(find ros_robot_controller)/launch/ros_robot_controller_node.launch"/>
    <node pkg="ainex_kinematics" type="ainex_controller.py" name="ainex_controller" output="screen">
        <rosparam file="$(find ainex_kinematics)/config/init_pose.yaml" command="load"/>
        <rosparam file="$(find ainex_kinematics)/config/servo_controller.yaml" command="load"/>
        <param name="gazebo_sim"    value="$(arg gazebo_sim)"/>
        <!--<param name="walking_command" value="$(arg walking_command)"/>-->
        <!--<param name="walking_set_param" value="$(arg walking_set_param)"/>-->
        <!--<param name="walking_get_param" value="$(arg walking_get_param)"/>-->
        <!--<param name="walking_is_walking" value="$(arg walking_is_walking)"/>-->
    </node>
</launch>
