<?xml version="1.0"?>
<!--巡线+跨栏+上下台阶-->
<launch>
    <arg name="start"  default="true"/>

    <!--颜色识别节点-->
    <include file="$(find ainex_example)/scripts/color_detection/color_detection_node.launch"/>

    <include file="$(find ainex_bringup)/launch/base.launch"/>

    <!--巡线+跨栏+上下台阶-->
    <node pkg="ainex_example" type="combination_node.py" name="combination" output="screen">
        <param name="start"  value="$(arg start)"/>
    </node>
</launch>
